---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Badge from "../components/Badge.astro"
---

<Layout title="Welcome to Astro.">
	<section class="w-full lg:w-[749px] mx-auto py-44">
	<main>
		<h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-4">
			Hey, I am dev <div class="flex justify-center items-center">
			<Badge>Disponible para iniciar</Badge>
			</div>
		</h1>
		<h2 class="text-x1 opacity-80"> 
		+100 años de experiencia - espec React, SASS, PHP, NODE.JS
		</h2>
		<ul></ul>
	</section>
	</main>
</Layout>

<style>

</style>
