<header class="flex justify-between items-center py-3 w-[1120px] mx-auto">
    <img class="rounded-full w-12 h-12" 
    src="https://lens-storage.storage.googleapis.com/png/3af358f9d9a94fa5b12239c73d44d399" 
    alt="perfil"
    />

    <nav class="flex flex-row gap-x-10 opacity-90">
        <a href="/">Home</a>
        <a href="/About">About</a>
        <a href="/Projects">Projects</a>
        <a href="/Contact">Contact</a>
    </nav>

</header>

  